# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme

# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US" #"ko-KR"
title                    : "MasterShop"
title_separator          : "|"
subtitle                 : "Have A Nice Day" # site tagline that appears below site title in masthead
name                     : "ask"
description              : "Have A Nice Day"
url                      : "https://mastershop.shop"
baseurl                  : "" # the subpath of your site, e.g. "/blog"
repository               : "mastershop/mastershop.github.io"
teaser                   : "https://k.kakaocdn.net/dn/br6yZ4/btqBEzUju1j/zftMxI9eUtiMJfRFALDK1K/img.jpg"
logo                     : "https://k.kakaocdn.net/dn/br6yZ4/btqBEzUju1j/zftMxI9eUtiMJfRFALDK1K/img.jpg"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs            : true # true, false (default)
breadcrumb_home_label : "Home"
breadcrumb_separator  : "/"
words_per_minute         : 200
comments:
  provider               : facebook # false (default), "disqus", "discourse", "facebook", "staticman", "staticman_v2", "utterances", "custom"
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    #https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : 5 #(default)
    colorscheme          : "light" #(default), "dark"
  utterances:
    theme                : # "github-light" (default), "github-dark"
    issue_term           : # "pathname" (default)
staticman:
  allowedFields          : # ['name', 'email', 'url', 'message']
  branch                 : # "master"
  commitMessage          : # "New comment by {fields.name}"
  filename               : # comment-{@timestamp}
  format                 : # "yml"
  moderation             : # true
  path                   : # "/_data/comments/{options.slug}" (default)
  requiredFields         : # ['name', 'email', 'message']
  transforms:
    email                : # "md5"
  generatedFields:
    date:
      type               : # "date"
      options:
        format           : # "iso8601" (default), "timestamp-seconds", "timestamp-milliseconds"
  endpoint               : # URL of your own deployment with trailing slash, will fallback to the public instance
reCaptcha:
  siteKey                :
  secret                 :
atom_feed: 
  path                   : # blank (default) uses feed.xml
search                   : true #false (default)
search_full_content      : false 
search_provider          : google #lunr (default), algolia, google
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : partner-pub-3309468445717403:4878501321
  instant_search         : # false (default), true
# SEO Related
google_site_verification : hAxkb2-Td3ixuYKJPOORw62pAaqXiiV_LtlN53OZZ48
bing_site_verification   :
yandex_site_verification :
naver_site_verification  : 5b99ec819ce63176ff5e51f33e0f7d64e6ed24be

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : https://blogfiles.pstatic.net/MjAyMDAyMDFfMjMg/MDAxNTgwNDg0MzQzNDAy.PVkrqRrW6_jRrls323_PUKBKTZjxcITcm_y67RlDPZ4g.ymGXERSN0G5SRtY7g64yRIBP2lxc7bKBoe6MAIUPgeAg.JPEG.sakai111/Logo.jpg
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles
    - https://blog.naver.com/sakai111

# Analytics
analytics:
  provider               : "google-gtag" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : UA-69920584-5
    anonymize_ip         : # true, false (default)
# NaverAnalytics
nv_analytics:
  provider               : "naver-gtag" # false (default), "google", "google-universal", "custom"
  naver:
    tracking_id          : b92382ab5febc
    anonymize_ip         : # true, false (default)

# Site Author
author:
  name             : "ASK"
  avatar           : "https://blogpfthumb-phinf.pstatic.net/MjAyMDAxMzFfMTgx/MDAxNTgwNDY5MDg0OTU2.jZiZ5QxuVugg7C4Ey5URqx6x4pkJULVHaX4OUlOYztkg.ZwgUkvX4p_sI_KKa6zUb1Mls3fSnQIyuTxRUzuvCq5kg.PNG.sakai111/bio-photo.png?type=w161" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : "**What do you want, jewels?**<br>I am a very extravagant man. "
  location         : "Somewhere"
  email            :
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:sakai111@naver.com"
    - label: "Blog"
      icon: "fas fa-fw fa-link"
      url: "https://blog.naver.com/sakai111"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      # url: "https://twitter.com/"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
      # url: "https://facebook.com/"
    - label: "GitHub AskView Top.100"
      icon: "fab fa-fw fa-github"
      url: "https://sangkuAhn.github.io"    
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/subin_harry/"

# Site Footer
# footer:
#   links:
#     - label: "Twitter"
#       icon: "fab fa-fw fa-twitter-square"
#       # url:
#     - label: "Facebook"
#       icon: "fab fa-fw fa-facebook-square"
#       # url:
#     - label: "GitHub"
#       icon: "fab fa-fw fa-github"
#       url: "https://sangkuAhn.github.io"
#     - label: "GitLab"
#       icon: "fab fa-fw fa-gitlab"
#       # url:
#     - label: "Bitbucket"
#       icon: "fab fa-fw fa-bitbucket"
#       # url:
#     - label: "Instagram"
#       icon: "fab fa-fw fa-instagram"
#       url: "https://www.instagram.com/subin_harry/"


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
 # - "*.sublime-project"
 # - "*.sublime-workspace"
  - vendor
  #- .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - .editorconfig
  - .gitattributes
  - CNAME
  - Gemfile  
  - star_auto_push.sh
#  - LICENSE
 # - log
 # - node_modules
#  - package.json
#  - package-lock.json
#  - Rakefile
  - README.md
 # - tmp
  # - _posts/1/2/
  # - _posts/1/3/
  # - _posts/1/4/
  - _posts/1/5/
  - _posts/1/6/
 # - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
#incremental: true
profile: true
# strict_front_matter: false
# limit_posts: 20

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Asia/Seoul # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist  
  - jekyll-include-cache
  - jekyll-github-metadata

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist  
  - jekyll-include-cache
  - jekyll-github-metadata

# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
#https://github.com/jekyll/jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/


# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
