{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="feature__item">
  <div class="archive__item">
    <div class="archive__item-teaser">
      <img src="{{post.post_img_url}}" alt="{{title}}">
    </div>
    <div class="archive__item-body">
        <h2 class="archive__item-title">{{post.post_sub_title}}</h2>
        <div class="archive__item-excerpt">
          <p>{{post.post_money}}<br>{{post.post_date}}</p>
        </div>      
        <p><a href="{{ site.url }}{{post.id}}" target="_blank" class="btn btn--primary">Learn more</a></p>
    </div>
  </div>
</div>