{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="page__hero--overlay" style="background-color: #5e616c; background-image: url('{{post.post_img_url}}');">
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">        
          MasterShop
      </h1>
        <p class="page__lead">{{post.post_sub_title}}<br> 
          <small> <a href="{{post.id}}">{{post.post_money}}</a></small>
        </p>
        <p>
          <a href="{{post.id}}" class="btn btn--light-outline btn--large"><svg class="svg-inline--fa fa-download fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor"></path></svg><!-- <i class="fas fa-download"></i> --> [바로가기]</a>
        
    </p></div>
</div>